<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../../component/pear/css/pear.css"/>
	<link rel="stylesheet" href="../../admin/css/other/login.css"/>
	<style>
		h1{
			margin-top: 200px;
			color: #5FB878;
		}
	</style>
</head>
<body class="pear-container" style="background-color: #ffffff!important;">
<div class="layui-form">
<div class="layui-form-item">
	<img class="logo" src="../../admin/images/logo.png"/>
	<div class="title">DaYu Admin</div>
	<div class="desc">
		致 力 打 造 最 具 影 响 力 的 设 计 规 范 平 台
	</div>
	<div class="desc">
		欢 迎 进 入 X X 招 聘 网
	</div>
</div>
</div>
</body>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
</html>
