<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>求职申请</title>
	<link href="../../../component/pear/css/pear.css" rel="stylesheet" />
</head>
<body class="pear-container">
<div class="layui-card">
	<div class="layui-card-body">
		<form class="layui-form">
			<div class="layui-form-item">
				<label class="layui-form-label">职位名称</label>
				<div class="layui-input-inline">
					<input type="text" name="title" placeholder="" class="layui-input">
				</div>
				<label class="layui-form-label">公司名称</label>
				<div class="layui-input-inline">
					<input type="text" name="companyName" placeholder="" class="layui-input">
				</div>
				<button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="form-query">
					<i class="layui-icon layui-icon-search"></i>
					查询
				</button>
				<button type="reset" class="pear-btn pear-btn-md">
					<i class="layui-icon layui-icon-refresh"></i>
					重置
				</button>
			</div>
		</form>
	</div>
</div>
<div class="layui-card">
	<div class="layui-card-body">
		<table id="dataTable" lay-filter="dataTable"></table>
	</div>
</div>
<script type="text/html" id="leftBar">
	<button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="view"><i>查看简历</i></button>
	{{#
		if (d.type == '1'){
			d.accept_status = '是未回复'
		}else if(d.type=='2'){
			d.accept_status = '发起邀请'
		} else{
			d.accept_status = '已邀请'
		}
	}}

	{{#  if (d.type == '1'){       }}
	<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="acceptInvitation2"><i>发起邀请</i></button>
	<button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="acceptInvitation3"><i>回拒</i></button>
	{{#  }else if(d.type == '2'){  }}
	<button class="pear-btn pear-btn-success pear-btn-sm" disabled><i>已发邀请</i></button>
	{{#  }else if(d.type == '3'){  }}
	<button class="pear-btn pear-btn-success pear-btn-sm" disabled><i>已回拒</i></button>
	{{# } }}
	<button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="type-templet">
	{{#  if (d.type == '1'){       }}
	<span>未回复</span>
	{{#  }else if(d.type == '2'){  }}
	<span>通过</span>
	{{#  }else if(d.type == '3'){  }}
	<span>未通过</span>
	{{# } }}
</script>

<script src="../../../component/layui/layui.js"></script>
<script src="../../../component/pear/applicationUtil.js"></script>
<script src="../../../component/pear/pear.js"></script>
<script>
	layui.use(['table','form','jquery','restClient','toast'],function () {
		let table = layui.table;
		let form = layui.form;
		let $ = layui.jquery;
		let restClient = layui.restClient;
		let toast = layui.toast;
		var  positionId =  JSON.parse(decodeURIComponent(getPathParam("positionId")));
		let cols = [
			[
				{title: '职位名称', field: 'title', align:'center'},
				{title: '企业名称', field: 'company_name', align:'center'},
				{title: '姓名', field: 'name', align:'center'},
				{title: '申请职位', field: 'apply', align:'center'},
				{title: '电话', field: 'phone', align:'center'},
				{title: '审核状态', field: 'type', align:'center', templet:'#type-templet'},
				{title: '通知详情', field: 'msg', align:'center',width: 250},
				{title: '操作', toolbar: '#leftBar', align:'center', width:195}
			]
		]
		table.render({
			elem: '#dataTable',
			url: applicationUtil.URL+'/api/sys/resume-position/positionRecords',
			page: true ,
			cols: cols ,
			skin: 'line',
			toolbar: '#rightBar',
			headers: applicationUtil.authorization,
			text: {none: '暂无信息'}
		});
		if (positionId){
			table.reload('dataTable',{where:{"positionId":positionId}})
		}
		table.on('tool(dataTable)', function(obj){
			if(obj.event === 'remove'){
				window.remove(obj);
			}else if (obj.event === 'view'){
				window.view(obj);
			}else if(obj.event === 'acceptInvitation2'){
				window.acceptInvitation(obj,'2');
			}else if(obj.event === 'acceptInvitation3'){
				window.acceptInvitation(obj,'3');
			}
		});
		form.on('submit(form-query)', function(data){
			table.reload('dataTable',{where:data.field})
			return false;
		});
		window.acceptInvitation = function(obj,type){

			if (type==='2'){
				layer.open({
					title:'回复详情'
					,type: 1
					,offset: type
					,id: 'reply'+type
					,content: ' <div class="layui-form-item layui-form-text">\n' +
							'    <div class="layui-input-block" style="margin: auto;padding: 10px">\n' +
							'      <textarea id="msg" placeholder="请输入内容" class="layui-textarea" style="height: 200px"></textarea>\n' +
							'    </div>\n' +
							'  </div>'
					,btn: '提交'
					,btnAlign: 'c'
					,shade: 0
					,area: ['500px', '320px']
					,yes: function(){
						var msg = $("#msg").val();
						if ($.trim(msg).length<1){
							toast.warning({
								title: 'Caution',
								message: '填写不为空',
								position: 'topCenter'
							});
							return;
						}
						layer.closeAll();
						var data = {"id":obj.data.id,"type":type,'msg':msg}
						window.examine(data);
					}
				});
			}else {
				var data = {"id":obj.data.id,"type":type}
				window.examine(data)
			}
		}
		window.examine = function (data){
			restClient.put(applicationUtil.URL + '/api/sys/resume-position/examine', JSON.stringify(data), (res) => {
				if (res.success) {
					layer.msg(res.msg, {icon: 1, time: 1000}, function () {
						window.refresh();
					});
				} else {
					layer.msg(res.msg, {icon: 2, time: 1000});
				}
			});
		}
		window.view = function(obj){
			const index = layer.open({
				type: 2,
				title: '预览',
				shade: 0.4,
				fix: false,
				shadeClose: true,
				area: ['70%', '100%'],
				content: applicationUtil.URL + '/api/sys/resume/view/' + obj.data.resume_user_id
			});
			parent.layer.full(index);
		}
		window.remove = function(obj){
			layer.confirm('确定要删除该申请', {icon: 3, title:'提示'}, function(index){
				layer.close(index);
				let loading = layer.load();
				restClient.remove(applicationUtil.URL + '/api/sys/resume-position/remove/?id='+obj.data['id'],null, (res) => {
					layer.close(loading);
					if (res.success) {
						layer.msg(res.msg, {icon: 1, time: 1000});
						window.refresh();
					} else {
						layer.msg(res.msg, {icon: 2, time: 1000});
					}
				});
			});
		}
		window.refresh = function(){
			table.reload('dataTable');
		}
	})
</script>
</body>
</html>
